<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Медвежий угол</title>
  <meta name='yandex-verification' content='5ae82bbd456c255e' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<div id="left-header">&nbsp;</div>
		<div id="mid-header">
			<div class="top-menu-item">
				<h2>
					<span class="label label-warning"><%=link_to "Главная", "/" %></span>
					<span class="label label-warning"><%=link_to "О нас", "/info" %></span>
					<span class="label label-warning"><%=link_to "Контакты", "/contacts" %></span>
				</h2>
			</div>
			<div class="top-menu-order">
				<button class="btn-lg btn-warning" onclick="show_order_form();">
					<strong>Оценить Iphone</strong>
				</button>
			</div>
			<div id="top-phone">
				+7 (000) 000-00-00
			</div>
		</div>
		<div id="right-header">&nbsp;</div>
	</div>
	<div id="apple">
		<img src="/images/apple.png">
	</div>

	<table id="mid">
		<tr>
			<td id="left-mid">&nbsp;</td>
			<td id="content">
				<br/>
					<br/>
						<br/>
				<br/>
					<br/>
						<br/>
				<br/>
					<br/>
						<br/>
				<%= yield %>
			</td>
			<td id="right-mid">&nbsp;</td>
		</tr>
	</table>
	
	<div id="footer">
		<div id="left-footer">&nbsp;</div>
		<div id="mid-footer">
			&copy; 2015 "Медвежий угол", <%= link_to "Разработчики", "/developers" %> <br />
			Полное или частичное копирование материалов сайта запрещено.
		</div>
		<div id="right-footer">&nbsp;</div>
	</div>
	<div data-remodal-id="order">
		<div class="form-group">
			<label>Ваше имя:</label>
			<br />
			<input class="form-control" id="order_name" type="text" class="order_input"></input>
		</div>
		<div class="form-group">
			<label>Ваш телефон:</label>
			<br />
			<input class="form-control" id="order_phone" type="text" class="order_input"></input>
		</div>
		<div class="form-group">
			<label>Ваше сообщение:</label>
			<br />
			<textarea class="form-control" rows="5" id="order_text"></textarea>
		</div>
		<button type="button" class="btn btn-info" onclick="send_order();">Отправить</button>
		<p id="order_result" class="bg-info"></p>
	</div>
	<script>
		inst = $('[data-remodal-id=order]').remodal();
	</script>
	<!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28381631 = new Ya.Metrika({ id:28381631, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/28381631" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>
