<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Скупка Iphone</title>
  <meta name='yandex-verification' content='5ae82bbd456c255e' />
  <meta name="keywords" 
  content="
        iphone, iphone 6, iphone 6 plus, iphone 5, iphone 5s, iphone 5c,
        iphone 4s, iphone 4, айфон, айфон 6, айфон 6 плюс, айфон 5, айфон 5с,
        айфон 4, айфон 4с, ios, apple iphone, apple 6, apple 4, apple 5,
        продать айфон, продать iphone,
        сдать айфон, сдать iphone,
        выкуп айфон, выкуп iphone,
        скупка айфон, скупка iphone, 
        ремонт айфон, ремонт iphone
        ">
  <meta name="description" content="
  Cкупка iPhone в Москве и МО. Платим до 80% от стоимости нового айфон. Звоните: +7 (915) 470-70-20">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container wraper">
		<nav id="header" class="navbar noind">
			<div id="left-header" class="nav navbar-nav navbar-left">&nbsp;</div>
			<div id="right-header" class="nav navbar-nav navbar-right">&nbsp;</div>

			<div class="nav navbar-nav" id="mid-header">
				<div class="top-menu-item">
					<span class="label label-warning gold"><%=link_to "Главная", "/" %></span>
					<!--<span class="label label-warning gold"><%=link_to "Экспертиза", "/info" %></span>-->
					<span class="label label-warning gold"><%=link_to "Контакты", "/contacts" %></span>
				</div>
				<div class="top-menu-order">
					<button class="btn-lg btn-warning gold" onclick="show_order_form();">
						<strong>Продать Iphone</strong>
					</button>
				</div>
				
			</div>
			<div id="top-phone">+7 (915) 470-70-20</div>				
		</nav>

		<table id="mid">
			<tr>
				<td id="left-mid">&nbsp;</td>
				<td id="content">

					<%= yield %>
				</td>
				<td id="right-mid">&nbsp;</td>
			</tr>
		</table>
		<div id="footer">
			<div id="left-footer">&nbsp;</div>
			<div id="mid-footer">
				&copy; 2015 "IBuyIt". Полное или частичное копирование материалов сайта запрещено. <br />
				<%= link_to "Designed in California", "/developers" %> 
			</div>
			<div id="right-footer">&nbsp;</div>
		</div>
		<div data-remodal-id="order">
			<div class="container-fluid">
				<h3>Напишите, как к Вам обратиться и ваш телефон. Наш менеджер обязательно вам перезвонит.</h3>
			</div>
			<div class="form-group">
				<label>Ваше имя:</label>
				<br />
				<input class="form-control" id="order_name" type="text" class="order_input"></input>
			</div>
			<div class="form-group">
				<label>Ваш телефон:</label>
				<br />
				<input class="form-control" id="order_phone" type="text" class="order_input"></input>
			</div>
			<div class="form-group">
				<label>Ваше сообщение:</label>
				<br />
				<textarea class="form-control" rows="5" id="order_text"></textarea>
			</div>
			<button type="button" class="btn btn-info" onclick="send_order();">Отправить</button>
			<p id="order_result" class="bg-info"></p>
		</div>
	</div>
	
	<script>
		inst = $('[data-remodal-id=order]').remodal();
	</script>
	<!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28381631 = new Ya.Metrika({ id:28381631, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/28381631" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>
